*{
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background:#5F5F5F;
    height:100%;
    width:100%;
}

.game-card{
    background:#FFFFFF;
    width:75%;
    padding:20px;
    margin:50px auto;
    text-align: center;
}

.title{
    font-size: 44px;
    color:red;
    padding: 20px
}

.question{
    font-size:34px;
    padding:20px;
}

.answer{
    border-style:none;
    background:#FFFFFF;
    font-size: 30px;
    padding: 5px ;
}

.button-containers{
    padding:auto;
    margin: 20px;
}

.start-page{
    background:#FFFFFF;
    width:75%;
    padding:20px;
    margin:50px auto;
    text-align: center;
}

button{
    text-emphasis: none;
    font-size: 24px;
    padding:20px;
    margin: 10px;
    background:#FFFFFF;
    border-style: none;
}

#final-page{
    background:#FFFFFF;
    width:75%;
    padding:20px;
    margin:50px auto;
    text-align: center;
}

#final-page h3{
    font-size:34px;
    padding: 20px;
}

img{
    height: 100px;
}
